@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Playfair+Display&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*Image Background*/
.container {
    min-height: 92vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


/* Hero Section */
#hero {
	background-image: url(/images/landscape.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.65;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 2rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
    margin-bottom: 8px;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */


/* Keyframes */
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
        font-size: 3rem;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
        font-family: "Great Vibes";
        font-size: 5rem;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {

	/* Hero */
	#hero h1 {
		font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
	}
	/* End Hero */

}