@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Playfair+Display&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/*Nav Bar Styling*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #222831;
    font-family: Poppins, san-serif;
}


.logo a{
    text-decoration: none;
    text-transform: uppercase;
    color:#EEEEEE;
    letter-spacing: 5px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
    text-transform: uppercase;
}
.nav-links a{
    color: #AAD8D3;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'poppins', sans-serif
}

/* indicate page hovered on in nav */
nav a:hover:not(.activepage) {
    text-decoration-color: white;
    text-decoration-thickness: 8%;
  }
  
/* indicate active page on nav */
nav a.activepage {
    color: #00ADB5;
  }

/*Burger Styling*/
.burger {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(209, 209, 209);
    margin: 5px;
    transition: all 0.5s ease;
}

/*Normal Line of Nav Links*/

@media screen and (max-width: 2500px){
    .nav-links {
        width: 40%;
    }

    nav a:hover:not(.activepage) {
        text-decoration: none;
      }

    a:before, a:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        background: #EEEEEE;
      }
      
      a:before {
        left: -2.5px;
      }
      a:after {
        right: 2.5px;
        background: #EEEEEE;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
      a:hover:before {
        background: #EEEEEE;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
      a:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }

}

/* Hamburger Menu when the page vw is decreased */

@media screen and (max-width: 2000px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #393E46;
        opacity: 0.95;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .navlinks li {
        opacity: 0;
    }

    .burger{
        display: block;
        margin: 0px;
        top: 0px;
        margin-left: auto;
        padding-right: 1vw;
    }

    .logo {
        padding-left: 1.5vw;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opactiy: 1;
        transform: translateX(0px);
    }
}

.toogle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}