Neonderthaw

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


/*Flex Box containing type writer stuff*/
.typewriter {
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
}

.wrapper {
    display: flex;
    background-color: #EEEEEE;
    border: red solid 2px;
    border-radius: 60px;
    padding: 2vw;
}

.wrapper .static-txt {
    color: #393E46;
    font-size: 3vw;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 0.75vw;
    line-height: 4.5vw;
    height: 4.5vw;
    overflow: hidden;
}

#name {
    font-family: 'Neonderthaw', cursive;
    font-style: bold;
    font-weight: 600;
}

.dynamic-txts li {
    list-style: none;
    color: #00ADB5;
    font-size: 3vw;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 18s steps(6) infinite;
}

@keyframes slide {
    100% {
        top: -27vw;
    }
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    border-left: 0.15vw solid #00ADB5;
    animation: typing 3s steps(12)
    infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 1.5vw);
    }
    100% {
        left: 0;
    }
}