@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Playfair+Display&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.wrapper {
    display: flex;
}

.wrapper .static-txt {
    color: #393E46;
    font-size: 3vw;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 0.75vw;
    line-height: 4.5vw;
    height: 4.5vw;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    font-size: 3vw;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 39s steps(13) infinite;
}

@keyframes slide {
    100% {
        top: -58.5vw;
    }
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    border-left: 0.15vw solid #444444;
    animation: typing 3s steps(5)
    infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 1.5vw);
    }
    100% {
        left: 0;
    }
}

.green {
    color: #008132;
}

.blue {
    color: #00ADB5;
}

.black {
    color: #002d30;
}